<app-navbar></app-navbar>
<div class="checkout-container">
<div class="titleBox">
<h2>Funding Basket</h2>
</div>
<div class = "body">
<!-- <button (click)="goBack()"> Return to Dashboard</button> -->
    <ul>
        <li *ngFor="let need of basket.values()">
            <span>{{need.name}} - Quantity: {{need.quantity}} - Cost: {{need.cost}}</span>
            <button (click)="addQuantity(need)">+</button>
            <button (click)="subtractQuantity(need)">-</button>
            <button (click)="deleteNeed(need.id)">Delete</button>
        </li>
    </ul>
</div>
</div>
