<nav class= "text-white bg-gray-700  flex items-center ml-8 mr-8 ">
  <h1 routerLink="/home">Mia Foudation</h1> 
  <div routerLink="/helperDashboard"  class="list-none inline-block px-6 hover:underline" >Home</div>
  <ul class="flex-1 text-center">
    <app-search-bar class=" list-none  inline-block px-6"></app-search-bar>
   
      
  </ul>
  <div (click)="iconClicked()"   class="block px-4 py-2 text-white hover:bg-gray-200 rounded-2xl">
  <fa-icon [icon]="shoppingBasket"></fa-icon>
   Funding Basket
  
  </div>
  <div  (click)="logOut()" class="block px-4 py-2 text-white hover:bg-gray-200 rounded-2xl">
    <fa-icon [icon]="logOutLogo"></fa-icon>
    Log out
  </div>
  
</nav>