<div class="navbar">
    <nav class="navbar-content">
      <div class="title">
        <div class="header">The Mia Foundation</div>
        <div class="subtitle">
          Helping animals born with birth defects since 2012.</div>
      </div>
      <app-search-bar></app-search-bar>
      <div routerLink="/helperDashboard">
        Home 
      </div>
      <div routerLink="/helper-pet-page">
        Adopt a Dog
      </div>
      <div class="favorite-pets">
        <span class="favpets" (click)="favoritesClicked()">
          <fa-icon [icon]="favoritesLogo"></fa-icon>
          <h6>Favorites</h6>
        </span>
        </div>
      <div class="basket">
      <span class="fa" (click)="iconClicked()">
        <fa-icon [icon]="shoppingBasket"></fa-icon>
        <h6>Funding Basket</h6>
      </span>
      </div>
      <div class="logout">
      <span class="fa" (click)="logOut()">
        <fa-icon [icon]="logOutLogo"></fa-icon>
        <h6>Log out</h6>
      </span>
      </div>
    </nav>
</div>
