<div class="navbar">
    <nav class="navbar-content">
      <div class="title">
        <div class="header">The Mia Foundation</div>
        
      </div>
      <app-search-bar></app-search-bar>
      <div routerLink="/helperDashboard">
        Home 
      </div>
      <div class="basket">
      <span class="fa" (click)="iconClicked()">
        <fa-icon [icon]="shoppingBasket"></fa-icon>
        <h6>Funding Basket</h6>
      </span>
      </div>
      <div class="logout">
      <span class="fa" (click)="logOut()">
        <fa-icon [icon]="logOutLogo"></fa-icon>
        <h6>Log out</h6>
      </span>
      </div>
    </nav>
</div>
