<div class="navbar">
    <nav class="navbar-content">
      <div class="title">Mia Foundation</div>
      
      <button routerLink="/addNeed"> Add a new need </button>
      <span class="fa" (click)="logOut()">
        <fa-icon [icon]="logOutLogo"></fa-icon>
        <h6>Log out</h6>
      </span>
    </nav>
</div>
  
<div class="centered-container">
      <div class="list-title">My Cupboard</div>
      <div class="">
        <!-- <app-admin-browse-need></app-admin-browse-need> -->
      </div>
</div>
