<app-admin-navbar></app-admin-navbar>
<div class="centered-container">
      <!-- <div class="list-title">My Cupboard</div> -->
      <div id="browse">
        <app-admin-browse-needs></app-admin-browse-needs>
      </div>
</div>

<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>


<body class="bg-gray-900 text-white flex items-center justify-center h-screen">
  <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-96">
    <div class="centered-container mb-4">
      <div id="browse">
        <app-admin-browse-needs></app-admin-browse-needs>
      </div>
    </div>
  </div>

</body>

</html> -->
