<h1>Add a New Need!</h1>
<h3>Please fill out all fields</h3>
<div>
    <!-- <label for="needId">Need Id:</label>
    <input type="number" id="needId" name="needId" #needId><br><br>

    <label for="needName">Need Name:</label>
    <input type="text" id="needName" name="needName"><br><br>

    <label for="needQuantity">Need Id:</label>
    <input type="number" id="needQuantity" name="needQuantity"><br><br>

    <label for="needDescr">Need Description:</label>
    <input type="text" id="needDescr" name="needDescr"><br><br>

    <label for="needCost">Need cost ($ or # of hours):</label>
    <input type="number" id="needCost" name="needCost"><br><br>

    <label for="needType">Need Type (goods or volunteer):</label>
    <input type="needType" id="needType" name="needType"><br><br>

    <button (click) ="submitValues(needId,needName,needQuantity,needDescr,needCost,needType)">Submit values</button> -->



    <form class="form-container"  (ngSubmit)="onSubmit()" action="/admin-browse">
       
        
        <div class="formGroup">
            <label>Need Name:</label>
            <input type="text" class="form-input" id="name"
            [(ngModel)] = "Need.name" name="name" ng-required="true">
        </div>

        <div class="formGroup">
            <label>Need Description:</label>
            <input type="text" class="form-input" id="description"
            [(ngModel)] = "Need.description" name="description" ng-required="true">
        
        </div>


        <div class="formGroup">
            <label>Need Quantity</label>
            <input type="text" class="form-input" id="quantity"
            [(ngModel)] = "Need.quantity" name="quantity" ng-required="true">
        
        </div>

        <div class="formGroup">
            <label>Need's Cost: </label>
            <input type="text" class="form-input" id="cost"
            [(ngModel)] = "Need.cost" name="cost" ng-required="true">
        
        </div>

        <div class="formGroup">
            <label>Type (goods or volunteer):</label>
            <input type="text" class="form-input" id="type"
            [(ngModel)] = "Need.type" name="type" ng-required="true">
        
        </div>

        <button class="update-button" type="submit"> Create Need! </button>

    </form>
</div>