<div class="navbar">
    <nav class="navbar-content">
      <div class="title">Mia Foundation</div>
      <app-search-bar></app-search-bar>
      <span class="fa" (click)="iconClicked()">
        <fa-icon [icon]="shoppingBasket"></fa-icon>
        <h6>Funding Basket</h6>
      </span>
      <span class="fa" (click)="logOut()">
        <fa-icon [icon]="logOutLogo"></fa-icon>
        <h6>Log out</h6>
      </span>
    </nav>
</div>
  
<div class="centered-container">
      <div class="list-title">Support Our Furry Friends in Need</div>
      <div class="">
        <app-browse-needs></app-browse-needs>
      </div>
</div>
  


