
<body>
    <div class="container px-28 py-5 relative">
        <nav class="flex items-center">
            <fa-icon [icon]="faDog" class="fa-dog text-4xl w-12 h-12"></fa-icon>
            <ul class="flex-1 text-center">
                <li class="list-none inline-block px-6" >Home</li>
                <li class="list-none inline-block px-6">How it works</li>
                <li class="list-none inline-block px-6">About</li>
                <li class="list-none inline-block px-6">Contact</li>
            </ul>
            <div>
                Log in as a Helper 
            </div>
        </nav>

        <div class="text-blue-950 mt-48 max-w-lg">
            <h1 class="text-6xl font-semibold leading-normal subpixel-antialiased">
                Help for our furry friends 
                with the MIA Foundation
            </h1>
            <p>
                At MIA Foundation, we believe in second chances, 
                wagging tails, and endless purrs. 
                Our mission is simple: to help, care for, and find loving forever homes for animals in need. 
                When you step into our world, you step into a world of compassion, furry friends, and boundless love.
            </p>

            <div class="mt-10 ">
                <div class="rounded-3xl py-3 px-8 font-medium inline-block mr-4">
                    Log in as a Helper</div>
                <div class="rounded-3xl py-3 px-8 font-medium inline-block mr-4">
                Log in as a Manager</div>
            </div>
        </div>
        <div>
            
        </div>
    </div>
</body>
    
