.container{
    border-radius: 10px;
    background-color: #1A202C;
    margin: 50%;
    padding-top: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
}

.buttons{
    padding-bottom: 10px;
    display:flex;
    width:50%;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #00d5ff;
}


h1,h2,h3,h4,p {
    color: #fff;
}



p{
    font-size: 14pt;
}

ul{
    list-style-type: none;
}


li {
    padding-left: 20px;
    padding-right: 20px;
    border: rgb(236, 224, 224) 3px solid;
    border-radius: 30px;

} 