
<body class="bg-gray-700 text-white flex items-center justify-center h-screen">

    <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-96">
        <fa-icon [icon]="faDog" class="fa-dog center-dog fa-2xl"></fa-icon>
        <h1 class="text-2xl font-semibold mb-6 text-center">{{loginHeader}}</h1>
        <h2 class="text-2xl font-semibold mb-6 text-center">Welcome Back!</h2>

        <form [formGroup]="logInSection" (ngSubmit)="login()">

            <div class="mb-4 inputBox">
                <label for="username" class="block text-sm font-medium">Username</label>
                <input type="text" id="username" formControlName="username" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-gray-600 bg-gray-700 text-white">
            </div>

            <input (click)="login()" type="submit" class="w-full bg-gray-700 text-white p-2 rounded-md hover:bg-gray-600 focus:outline-none focus:ring focus:border-gray-500">       
            <div *ngIf="isAdminLogin"
            (click)="signUpRedirect()">
                <p class="text-sm mt-4 text-gray-400 text-center">Don't have an account? Sign Up </p>
            </div>
        </form>
    </div>

</body>

