<body class="bg-gray-900 h-screen overflow-y-hidden">
    <app-navbar></app-navbar>
    <div class="flex flex-col items-center justify-center h-screen">
        <span class="text-white text-7xl mb-8">Need</span>
        <div class="bg-gray-700 p-16 rounded-lg shadow-lg w-2/3 h-2/3 flex">
            <div class="flex flex-col gap-4 p-24">
                <div>
                    <h1 class="text-6xl font-bold">{{need.name}}</h1>
                    <h6 class="text-4xl font-semibold">Type: {{need.type}}</h6>

                </div>
                <p class="text-white text-lg">
                    {{need.description}}
                </p>
                <h6 class="text-3xl font-semibold">Cost: ${{need.cost}}</h6>
                <div class="flex flex-row items-center gap-12 text-white">
                    <h6 class="text-xl">Quantity Needed: {{need.quantity}}</h6>
                    <button class="text-2xl bg-slate-800 px-6 py-4 text-white rounded hover:bg-slate-400" (click)="functionAddNeed(need)">Add to Basket</button>
                </div>
            </div>

            <div>
                <img src="../assets/images/needs/{{need.id}}.jpg" alt="{{need.name}} Image" class="mt-24 rounded-lg"> 
            </div>
        </div>
    </div>
</body>









<!--  -->





<!-- <div class="flex items-center justify-center h-screen">
    <div class="bg-gray-600 p-10 rounded-lg shadow-lg w-96 text-white">
        <div class="flex flex-col gap-4 justify-center">
            <div>
                <span class="text-white">Need</span>
                <h1 class="text-3xl font-bold">{{need.name}}</h1>
                <h6 class="text-3xl font-semibold">Type: {{need.type}}</h6>
            </div>
            <p class="text-white">
                {{need.description}}
            </p>
            <h6 class="text-2xl font-semibold">Cost: ${{need.cost}}</h6>
            <div class="flex flex-row items-center gap-12 text-white">
                <h6>Quantity Needed: {{need.quantity}}</h6>
                <button class="text-xl bg-slate-700 px-3 py-2 text-white rounded hover:bg-slate-400" (click)="functionAddNeed(need)">Add to Basket</button><br><br>
            </div>
        </div>
    </div>
</div> -->
