<!-- <div *ngIf="need"> -->
    <body>
        <header>
            <button (click)="goBack()"> Return to Dashboard</button>
            <div id="goodFont">
            <h1>Need:{{need.name}}</h1>
            <h1>Need:</h1>
            <h2>{{need.name}}</h2>
            </div>
        </header>
        <main>
            <div class="row">
                <div class="box2">
                    <img src="../needs-detail/images/volunteer.jpg" alt="{{need.name}} Image" class="center">
                </div>
                <div id="goodFont" class="box2">
                    <div class="titleBox">
                    <h2><span class="bold-text"> Description:</span></h2>
                    </div>
                    <p>{{need.description}}</p>
                </div>
            </div>
            <div id="goodFont" class="box">
                <div class="titleBox">
                <h2>Cost:</h2>
                </div>
                <p>{{need.cost}}</p>
                <p>{{need.type}}</p>
            </div>
            <div id="goodFont" class="box">
                <div class="mainText">
                <button (click)="functionAddNeed(need)">Add to Cart</button>
                </div>
            </div>

        </main>
    </body>





