<div class="navbar">
    <nav class="navbar-content">
      <div class="title">Mia Foundation</div>

      <button routerLink="/adminDashboard"> Home </button>
      <button routerLink="/adminPetPage"> Pet Page </button>
      <button routerLink="/admin-create-need"> Add a new need </button>
      <button routerLink="/admin-create-pet"> Add a new pet </button>
      <span class="fa" (click)="logOut()">
        <fa-icon [icon]="logOutLogo"></fa-icon>
        <h6>Log out</h6>
      </span>
    </nav>
</div>