*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
  
}input {
    padding: .5rem;
    box-sizing: border-box;
    display: block;
    font-family: 'Poppins', sans-serif;
}
  
input:focus {
    outline: #426d8a auto 1px;
}

.search-result li a {
    background-color: #f0f4f6;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: inline-block;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(196, 173, 173);
}
  
.search-result li a:hover {
    background-color: #9aacb1;
    color: white;
}
  
ul.search-result {
    margin-top: 0.1;
    padding-left: 0.1;
    list-style: none;
}

#search-content{
  text-align: left;
}

.input-form {
  padding: 10px;
  box-sizing: border-box;
  margin: 10px auto; 
  border: 1px solid #ccc;
  border-radius: 15px; 
  font-size: 16px;
  width: 600px; /* temporary */
  /* width: 100%;
  max-width: 600px; */
}