<div id="search-component">
    <label for="search-box"></label>

    <input class="input-form" #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Look for a need"/>

    <input class="input-form" #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search The Mia Foundation"/>


    <ul class="search-result">
        <li *ngFor="let need of needs$ | async" > 
            <a routerLink="/detail/{{need.id}}">
                {{need.name}}
                {{need.description}}
            </a>
        </li>
    </ul>

</div>
