
<app-admin-navbar></app-admin-navbar>
 
<div id = "container">
    <form class="form-container"  (ngSubmit)="onSubmit()">
            <div class="formGroup">
                <label>Name:</label>
                <input type="text" class="form-input" id="name"
                [(ngModel)] = "Need.name" name="name">
            </div>

            <div class="formGroup">
                <label>Description:</label>
                <input type="text" class="form-input" id="description"
                [(ngModel)] = "Need.description" name="description">
            
            </div>


            <div class="formGroup">
                <label>quantity</label>
                <input type="text" class="form-input" id="quantity"
                [(ngModel)] = "Need.quantity" name="quantity">
            
            </div>

            <div class="formGroup">
                <label>Cost</label>
                <input type="text" class="form-input" id="cost"
                [(ngModel)] = "Need.cost" name="cost">
            
            </div>

            <div class="formGroup">
                <label>Type:</label>
                <input type="text" class="form-input" id="type"
                [(ngModel)] = "Need.type" name="type">
            
            </div>

            <button class="update-button" type="submit"> Update Need </button>

    </form>
</div>
